<?xml version="1.0" encoding="utf-8"?>
<routes>
  <line name="Powell" vanity="powell" short_name="po">
    <stop name="bartw" vanity="MacArthur Station" end="1"/>
    <stop name="40hr" vanity="40th and Horton"/>
    <stop name="40ho" vanity="40th and Hollis"/>
  </line>
  <line name="Hollis" vanity="Hollis" short_name="hollis">
    <stop name="bartw" vanity="MacArthur Station" end="1"/>
    <stop name="h045" vanity="Hollis and 45th"/>
    <stop name="pix" vanity="Park and Watts (Pixar)"/>
  </line>
</routes>